.liveCursorsContainer {
    width: 100%;
    cursor: none;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    height: 100%;
  }
  